@import "https://use.fontawesome.com/releases/v5.15.2/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --bg: #0a0c09;
  --colorText: #f3f3f3;
  --colorHover: #ffe45c;
  --bg-section: #fad000;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  z-index: 99;
  background-image: url("/assets/work.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  transition: background 0.5s ease;
  text-align: center;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-top: 10px;
}

.menu-bar {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 60px;
  margin-top: -80px;
}

.menu-items {
  list-style: none;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

.menu-items a {
  font-weight: bold;
  text-decoration: none;
  color: var(--colorText);
  font-size: 20px;
}

.menu-items .icon {
  display: none;
}

a:hover {
  color: var(--bg);
}

.respmenu {
  color: white;
  position: relative;
}

.icon-responsive {
  display: inline-block;
  color: black;
}

.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  right: 0;
  top: 0;
  margin: 32px;
  cursor: pointer;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
  display: unset;
  width: 20px;
  height: 20px;
}

.respmenu .fa-bars,
.respmenu .fa-times {
  font-size: 24px;
  pointer-events: none;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked + .icon-responsive .fa-bars {
  display: none;
}

.respmenu input:not(:checked) + .icon-responsive .fa-times {
  display: none;
}

.respmenu input:checked ~ nav .menu-items {
  text-align: right;
}

.respmenu input:checked ~ nav .menu-items li:nth-child(n) {
  margin: 10px 0;
}

.respmenu input:checked ~ nav .menu-items li:last-child {
  margin-bottom: 0;
}

.text-parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-parallax h1 {
  font-size: 30px;
  color: var(--colorText);
}

.text-parallax p {
  font-size: 20px;
  color: var(--colorText);
}

.text-parallax span {
  font-size: 20px;
}

.button-parallax {
  outline: none;
  background-color: var(--bg-section);
  border-radius: 20px;
  border: none;
  -moz-box-shadow: 0 5px 0 0;
  -webkit-box-shadow: 0 5px 0 0;
  box-shadow: 0 5px 0 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  width: 200px;
  padding: 20px;
}

.button-parallax:hover {
  background-color: var(--colorHover);
}

.button-parallax a {
  text-decoration: none;
  color: var(--bg);
}

.button-parallax:active {
  -moz-box-shadow: 0 1px 0 0;
  -webkit-box-shadow: 0 1px 0 0;
  box-shadow: 0 1px 0 0;
}

.text-photo p {
  text-shadow:
    -1px 0 5px #c2c2c2,
    1px 0 5px #c2c2c2;
}

h2 {
  color: var(--bg);
  text-align: center;
  font-size: 27px;
  text-decoration: 5px underline gold;
}

.specific-center {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.specific-text {
  text-align: center;
  max-width: 900px;
  text-shadow:
    -1px 0 5px #c2c2c2,
    1px 0 5px #c2c2c2;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1480px;
  margin: auto;
  padding: 10px 0;
}

.section h3 {
  margin: 10px;
  font-size: 25px;
  text-align: center;
}

.section p {
  font-size: 50px;
  color: var(--bg);
}

.section-photo {
  z-index: 1;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.section:nth-child(2n) .section-photo {
  right: 20px;
}

.section-text {
  width: 50%;
  text-align: center;
  padding: 30px;
  background-color: var(--bg-section);
}

.section-text p {
  font-size: 20px;
}

.about-content {
  background: var(--bg-section);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.valor-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.about-content h3 {
  font-size: 25px;
}

.about-content p {
  font-size: 20px;
}

.team {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: var(--bg-section);
}

.team h3 {
  font-size: 25px;
}

.team p {
  font-size: 15px;
}

.photo-about {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
  border-radius: 50%;
}

.wrapper {
  position: relative;
}

.slider {
  background-color: var(--bg-section);
  margin-top: 20px;
  padding: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.slider-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-item-container p {
  font-size: 15px;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  padding-bottom: 10px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.arrow {
  cursor: pointer;
  position: absolute;
  border-style: solid;
  top: 50%;
  margin-top: -70px;
}

#left-arrow {
  border-width: 20px 20px 20px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#right-arrow {
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

.form--label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

.form--group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.form--group-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form--btn {
  width: 100px;
  margin: 20px;
  padding: 20px;
  background: var(--bg);
  color: var(--colorText);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.form--btn:hover {
  box-shadow: 3px 0 30px rgba(163, 163, 163, 1);
}

.form--message,
.form--group-btn-submit {
  grid-column: span 2;
}

.form--message-correct {
  font-size: 14px;
  color: #119200;
  display: none;
}

.form--message-correct-active {
  display: block;
}

.form--input {
  width: 200px;
  border: 3px solid transparent;
  height: 40px;
  font-size: 10px;
  transition: 0.3s ease all;
}

#textarea {
  width: 200px;
  height: 150px;
  resize: none;
  font-family: "Lato", sans-serif;
}

.form--input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
}

.form--input-error {
  font-size: 13px;
  margin-bottom: 0;
  display: none;
}

.form--message {
  background: #f66060;
  margin: 20px;
  padding: 20px;
  border-radius: 3px;
  display: none;
}

.form--message-active {
  display: block;
}

.form--message p {
  margin: 0;
}

.form--validate-state {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.form--input-error-active {
  display: block;
}

.form--group-correct .form--validate-state {
  color: #1ed12d;
  opacity: 1;
}

.form--group-incorrect .form--label {
  color: #bb2929;
}

.form--group-incorrect .form--validate-state {
  color: #bb2929;
  opacity: 1;
  padding: 10px;
}

.form--group-incorrect .form--input {
  border: 3px solid #bb2929;
}

.form-contact {
  margin: auto;
  padding: 20px;
  border: 15px solid var(--bg-section);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.bg-footer {
  color: var(--colorText);
  text-align: center;
  background-color: var(--bg);
}

.bg-footer h3 {
  font-size: 15px;
}

.bg-footer p {
  font-size: 10px;
}

.icon-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.icons {
  color: var(--colorText);
}

.icon-social i {
  transition: transform 0.5s;
}

.icon-social i:hover {
  transform: scale(1.2);
}

.fab {
  margin: 40px;
  font-size: 30px;
}

.fa-facebook:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-youtube:hover {
  color: red;
}

.fa-linkedin:hover {
  color: #027fb5;
}

@media (min-width: 300px) {
  .form-contact {
    width: 300px;
    padding: 5px;
  }

  .form--input {
    width: 200px;
  }

  #textarea {
    width: 200px;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .photo-about {
    width: 150px;
    height: 150px;
  }

  .form--input-error {
    font-size: 10px;
  }

  .text-parallax h1 {
    font-size: 30px;
  }

  .text-parallax p {
    font-size: 20px;
  }

  .button-parallax {
    width: 200px;
  }

  .text-parallax span {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .logo {
    width: 90px;
    height: 90px;
  }

  .form-contact {
    width: 400px;
  }

  .form--label {
    font-size: 20px;
  }

  .form--btn {
    font-size: 20px;
  }

  .form--input {
    width: 300px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
  }

  #textarea {
    width: 300px;
  }

  .form--input-error {
    font-size: 14px;
  }

  .text-parallax h1 {
    font-size: 40px;
  }

  .text-parallax p {
    font-size: 25px;
  }

  .button-parallax {
    width: 200px;
  }

  .text-parallax span {
    font-size: 20px;
  }

  .slider-item-container p {
    font-size: 20px;
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  .about-content h3 {
    font-size: 25px;
  }

  .team h3 {
    font-size: 25px;
  }

  .team p {
    font-size: 20px;
  }

  .fab {
    font-size: 40px;
  }

  .bg-footer h3 {
    font-size: 30px;
  }

  .bg-footer p {
    font-size: 15px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-content p {
    font-size: 20px;
  }

  .about-content h3 {
    font-size: 25px;
  }

  .description-about h3 {
    text-align: center;
    font-size: 15px;
  }

  .photo-about {
    width: 200px;
    height: 200px;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .icon-social {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .menu-items {
    list-style: none;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
  }

  .text-parallax h1 {
    font-size: 40px;
  }

  .text-parallax p {
    font-size: 25px;
  }

  .button-parallax {
    width: 250px;
  }

  .text-parallax span {
    font-size: 25px;
  }

  .specific-text {
    font-size: 30px;
  }

  .team {
    display: flex;
    flex-direction: column;
  }

  .photo-about {
    width: 400px;
    height: 400px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .employee h3 {
    font-size: 25px;
  }

  .employee p {
    font-size: 20px;
  }

  .slider-item-container p {
    text-align: center;
    font-size: 15px;
  }

  .form--input {
    width: 300px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
  }

  .form--label {
    font-size: 20px;
  }

  #form--message {
    font-size: 25px;
  }

  .form--message-correct {
    font-size: 20px;
  }

  #textarea {
    width: 300px;
  }

  .slider-item-container p {
    font-size: 25px;
  }

  .about-content h3 {
    font-size: 30px;
  }

  .about-content p {
    font-size: 25px;
  }

  .section h3 {
    font-size: 30px;
  }

  .section-text p {
    font-size: 25px;
  }

  .fab {
    font-size: 50px;
  }

  .team h3 {
    font-size: 30px;
  }

  .team p {
    font-size: 25px;
  }

  h2 {
    font-size: 35px;
  }

  .icon-social {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .respmenu input,
  .respmenu .icon-responsive {
    display: none;
  }

  .menu-items {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    list-style: none;
    font-size: 20px;
  }

  .menu-items a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: var(--colorText);
  }

  .menu-items a:hover {
    color: var(--bg);
  }

  .respmenu nav {
    display: unset;
  }

  .text-parallax h1 {
    font-size: 60px;
    margin-top: 90px;
  }

  .text-parallax p {
    font-size: 30px;
  }

  .button-parallax {
    width: 300px;
    font-size: 20px;
  }

  h2 {
    font-size: 50px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section-photo {
    width: 400px;
    height: 350px;
  }

  .section h3 {
    font-size: 35px;
  }

  .section-text p {
    font-size: 25px;
  }

  .section:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .about-content h3 {
    font-size: 35px;
  }

  .about-content p {
    font-size: 25px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
  }

  .team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .team h3 {
    font-size: 35px;
  }

  .team p {
    font-size: 30px;
    margin: 20px;
  }

  .photo-about {
    width: 300px;
    height: 300px;
  }

  .slider-item-container p {
    font-size: 25px;
    text-align: center;
  }

  .form-contact {
    width: 600px;
  }

  .form--input {
    width: 500px;
    height: 60px;
    margin: 5px;
    font-size: 25px;
  }

  .form--input-error {
    font-size: 20px;
  }

  #textarea {
    width: 500px;
    height: 250px;
  }

  .form--label {
    font-size: 30px;
    padding: 30px;
  }

  #form--message {
    font-size: 30px;
  }

  .form--message-correct {
    font-size: 30px;
  }

  .form--btn {
    width: 200px;
    margin: 30px;
    padding: 30px;
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .menu-items a {
    font-size: 25px;
  }

  .text-parallax h1 {
    font-size: 60px;
  }

  .text-parallax p {
    font-size: 35px;
  }

  .text-parallax span {
    font-size: 40px;
  }

  .button-parallax {
    width: 400px;
    padding: 40px;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  h2 {
    font-size: 50px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .section h3 {
    font-size: 40px;
  }

  .section p {
    font-size: 30px;
  }

  .section-photo {
    width: 600px;
    height: 400px;
  }

  .section-text {
    max-width: 1280px;
  }

  .section:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .specific-text {
    font-size: 35px;
  }

  .about-content h3 {
    font-size: 40px;
  }

  .about-content p {
    font-size: 30px;
  }

  .team {
    display: flex;
    flex-direction: row;
  }

  .team h3 {
    font-size: 40px;
  }

  .team p {
    font-size: 30px;
    margin: 20px;
  }

  .photo-about {
    width: 300px;
    height: 300px;
  }

  .slider-item-container p {
    font-size: 25px;
    text-align: center;
  }

  .form-contact {
    width: 700px;
  }

  .form--input {
    width: 600px;
    height: 70px;
    margin: 5px;
    font-size: 25px;
  }

  #textarea {
    width: 600px;
  }

  .form--input-error {
    font-size: 25px;
  }

  .form--label {
    font-size: 30px;
    padding: 30px;
  }

  #form--message {
    font-size: 30px;
  }

  .form--btn {
    width: 200px;
    margin: 30px;
    padding: 30px;
    font-size: 30px;
  }

  .icon-social {
    display: flex;
    flex-direction: row;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }

  to {
    opacity: 1;
  }
}

.fade-in-element {
  animation: fade-in 1.4s;
}
