@import "https://use.fontawesome.com/releases/v5.15.2/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

:root {
  --bg: #0a0c09;
  --colorText: #f3f3f3;
  --colorHover: #fad000;
  --bg-section: #e6a503;
}

body {
  font-family: "Nunito";
}

header {
  z-index: 99;
  background-image: url("https://www.redcross.org/on/demandware.static/-/Sites-RedCross-Library/default/dwbd2db3b6/images/Coronavirus/2020.05.19-coronavirus-Safe-Work-Practices_1000x550.jpg");
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  padding: 40px 0;
  transition: background 0.5s ease;
  text-align: center;
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.menu-items {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
  list-style: none;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

.menu-items a {
  text-decoration: none;
  color: var(--colorText);
}

.menu-items .icon {
  display: none;
}

a:hover {
  color: var(--colorHover);
}

.logo {
  margin: auto;
  margin-left: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.parallax {
  text-align: center;
}

.text-parallax {
  position: absolute;
  top: 0;
  margin-top: 150px;
  padding: 0 200px;
}

.text-parallax h1 {
  font-size: 64px;
}

.text-parallax p {
  font-size: 25px;
}

.button-parallax {
  outline: none;
  background-color: var(--colorHover);
  border-radius: 20px;
  border: none;
  -moz-box-shadow: 0 5px 0 0 rgb(0, 105, 202);
  -webkit-box-shadow: 0 5px 0 0 rgb(0, 105, 202);
  box-shadow: 0 5px 0 0 rgb(0, 105, 202);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.button-parallax:active {
  -moz-box-shadow: 0 1px 0 0 rgb(0, 105, 202);
  -webkit-box-shadow: 0 1px 0 0 rgb(0, 105, 202);
  box-shadow: 0 1px 0 0 rgb(0, 105, 202);
}

.button-parallax:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 992px) {
  .menu-items {
    display: flex;
    flex-direction: column;
    color: var(--colorHover);
    padding: 20px;
    margin-left: 20px;
  }

  .hidden {
    visibility: visible;
  }

  .respmenu input[type="checkbox"],
  .respmenu .fa-bars,
  .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    right: 0;
    top: 0;
    margin: 32px;
    cursor: pointer;
  }

  .respmenu .fa-bars,
  .respmenu .fa-times {
    font-size: 24px;
    pointer-events: none;
  }

  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  .respmenu {
    -webkit-box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 10px 13px -7px #000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    color: white;
    position: relative;
  }

  .respmenu nav {
    display: none;
  }

  .respmenu input:checked ~ nav {
    display: block;
  }

  .respmenu input:checked ~ .fa-bars {
    display: none;
  }

  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }
}

.bg-footer {
  color: var(--colorText);
  text-align: center;
  background-color: var(--bg);
}

.bg-footer h3 {
  font-size: 40px;
}

.bg-footer p {
  font-size: 15px;
}

.icon-social {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icons {
  color: var(--colorText);
}

.icon-social i {
  transition: transform 0.5s;
}

.icon-social i:hover {
  transform: scale(1.2);
}

.fab {
  margin: 50px;
  font-size: 30px;
}

.fa-facebook:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-youtube:hover {
  color: red;
}

.fa-linkedin:hover {
  color: #027fb5;
}

@media (max-width: 772px) {
  .icon-social {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: -50px;
  }

  .bg-footer h3 {
    font-size: 25px;
  }

  .bg-footer p {
    font-size: 10px;
  }
}
